@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900,900italic");

body {
    background-color: #f2f1f0;
}

.hint {
  font-family: "Lato";
  font-size: large;
  margin-right: 70px;
  text-align: right;

}

#arrow {
  transform: rotate(5deg) scaleX(1.2);
  margin-left: 20px;
}

.zoomHint {
  margin: 0;
  height: 0;
  padding-right: 7%;
  text-align: right;
  font-family: 'Lato';
  font-size: 1.3rem;
  color: #626b74;
}

.zoomHint svg {
  fill: #071f33a1;
  margin-bottom: -8px;
}

.field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.field-box {
width: 80px;
height: 30px;
background-color: #f2f1f0;
margin-top: -30px;
z-index: 2;
}

.centered {
    width: 100%;
    height: 110px;
    margin: auto;
  }
  
  .group {
    width: 16vw;
    height: 110px;
    overflow: hidden;
    position: relative;
  }
  
  label {
    position: absolute;
    top: 36.6666666667px;
    color: rgba(56, 56, 56, 0.417);
    font: 400 200% Roboto;
    cursor: text;
    transition: .25s ease;
  }
  
  input {
    display: block;
    width: 17vw;
    padding-top: 36.6666666667px;
    border: none;
    border-radius: 0;
    color: dimgrey;
    background: transparent;
    font-size: 36.6666666667px;
    transition: .3s ease;
  }
  input:valid ~ label {
    top: 0;
    font: 700 22px Roboto;
    color: rgba(143, 143, 143, 0.623);
  }
  input:focus {
    outline: none;
  }
  input:focus ~ label {
    top: 0;
    font: 700 22px Roboto;
    color: #2196f3;
  }
  input:focus ~ .bar:before {
    transform: translateX(0);
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    box-shadow: 0 0 0px 1000px #333 inset;
    -webkit-text-fill-color: #ffffff !important;
  }
  
  .bar {
    background: #2195f3c9;
    content: '';
    width: 100%;
    height: 3.6666666667px;
    transition: .3s ease;
    position: relative;
  }
  .bar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 150%;
    background: #2196f3;
    transform: translateX(-100%);
  }
  
  ::selection {
    background: #2196f34d;
  }

/* ==========button============ */

  body .btn-bg.bg-2 .btn-2 button {
    color: #ffffff;
    background: #2195f3a9;
    border: none;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    transition: transform 0.2s ease;
  }
  body .btn-bg.bg-2 .btn-2 button:hover {
    background: transparent;
    transition: all .4s ease;
    color: #2195f3b2;
  }
  body .btn-bg.bg-2 .btn-2 button:hover:before,
  body .btn-bg.bg-2 .btn-2 button:hover:after {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    width: 100%;
  }
  body .btn-bg.bg-2 .btn-2 button:before,
  body .btn-bg.bg-2 .btn-2 button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 0px;
    height: 3px;
    background: #2195f3b2;
    transition: all 0.4s ease;
  }
  body .btn-bg.bg-2 .btn-2 button:after {
    top: inherit;
    left: inherit;
    bottom: 0;
    right: 0;
  }
  
  body .btn-bg.bg-2 .btn-2 button:active {
    -webkit-transform: translate(5px, 5px);
    transform: scale(0.9,0.9);
  }
  
  .btn {
    margin: 0 auto 30px auto;
    display: block;
  }
  
  button {
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: rgb(255, 255, 255);
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 1vw 3vw 1vw 3vw;
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 1.5em;
  }
    /* ============================ */
  
.input-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;    
    box-sizing: border-box;
    flex-wrap: wrap;
}

.input-block {
    margin-left: 2%;
    display: flex;
}

.flexCont {
  display: block; 
}

.toggleText {
  font-size: 2rem;
  font-family: "Lato";
  color: #304f66;
  text-align: center;
  margin-top: 0;
}

/* ===========switch=============== */
.switch_box{
	display: -webkit-box;
	display: -ms-flexbox;
  display: flex;
	/* height: 200px; */
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.switch_box input {
  padding-top: 0;
}

/* Switch 1 Specific Styles Start */


input[type="checkbox"].switch_1{
	font-size: 2.5rem;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #2196f3;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
  }

 footer {
    width: 100%;
    background-color: #090e1f;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #b7bec9;
    font-family: "Lato";
    margin: 0;
    padding-bottom: 10px;
  }

  address {
    font-style: normal;
  }

  footer p {
    margin: 2px;
  }

  footer span {
    margin: 0 1%
  }

  footer svg {
    height: 20px;
    margin: -4px 5px;
    fill: #b7bec9ca;

  }

  footer a {
   color: rgba(124, 104, 238, 0.781);
   text-decoration: none;
  }